extends /base

block variables
  -var title = __('confirmation.title')

block scripts
  script(src=jsPath)

block content

  h1 #{title}

  div
    <p>#{__('confirmation.intro')} 
    <strong>#{data.email}</strong>
    </p>